@page "/products"
@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavigationManager
@inject IViewProductsUseCase ViewProductsuseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase
@inject IDeleteProductUseCase DeleteProductUseCase


<h3>Manage Products</h3>
<br />

@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Category</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Details</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@GetCategoryByIdUseCase.Execute(product.CategoryId.Value)?.Name</td>
                    <td>@product.Name</td>
                    <td>@(Math.Round(product.Price.Value, 2))</td>
                    <td>@product.Quantity</td>
                    <td>@product.Details</td>
                    <td>@product.Description</td>
                    <td>
                        <button type="button" @onclick="@(() => EditProduct(product))" class="btn btn-link">Edit</button>
                        <button type="button" @onclick="@(() => ShowDeleteConfirmation(product))" class="btn btn-link">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickAddProduct" class="btn btn-primary">Add Product</button>

@if (showDeleteConfirmation)
{
    <div class="confirmation-dialog">
        <div class="modal fade show" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="close" @onclick="CancelDeleteConfirmation">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete the product '@productToDelete.Name'?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @onclick="DeleteProduct">Yes</button>
                        <button type="button" class="btn btn-secondary" @onclick="CancelDeleteConfirmation">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    </div>
}

@code {
    private IEnumerable<Product> products;
    private Product productToDelete;
    private bool showDeleteConfirmation;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadProducts();
    }

    private void OnClickAddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }

    private void EditProduct(Product product)
    {
        NavigationManager.NavigateTo($"/editproduct/{product.Id}");
    }


    private async Task DeleteProduct()
    {
        DeleteProductUseCase.Execute(productToDelete.Id);
        LoadProducts();
        showDeleteConfirmation = false;
    }

    private void ShowDeleteConfirmation(Product product)
    {
        productToDelete = product;
        showDeleteConfirmation = true;
    }

    private void CancelDeleteConfirmation()
    {
        showDeleteConfirmation = false;
    }

    private void LoadProducts()
    {
        products = ViewProductsuseCase.Execute()?.ToList();
    }
}
